<!--The content below is only a placeholder and can be replaced. -->
<!-- <h1 style="text-align:center"> -->
  <!-- Welcome to {{ title }}!! -->
<!-- </h1> -->
<!-- <h2>Personal Information: </h2> -->
<!-- <div> -->
  <!-- Name:{{name}}<br> -->
  <!-- Roll no.:{{rollno}}<br> -->
  <!-- Qualification:{{qualification}}<br> -->
<!-- </div> -->
<!-- <br> -->
  <!-- <hello-comp> -->
  <!-- </hello-comp> -->
<!-- <div> -->
  <!-- Hello, {{name}} !!!<br> -->
  <!-- This is your first component. -->
<!-- </div> -->
<!-- <br> -->
<!-- <prod-comp></prod-comp> -->
<!-- <br> -->
<!-- <br> -->
<!-- <wel-comp></wel-comp> -->
<!-- <first-comp></first-comp> -->
<!-- <br> -->
<!-- <app-ngif></app-ngif> -->
<!-- <div> -->
<!-- Hello, {{name}}!!!<br> -->
<!-- This is ngIf component. -->
<!-- </div> -->
<!-- <br> -->
<!-- <br> -->
<!-- <switch-comp></switch-comp> -->
<!-- <list-emp></list-emp> -->
<!-- <app-pipe></app-pipe> -->
<!-- <h2>Custom Pipe Example</h2> -->
<!-- {{2|expStr:3}} -->
<!-- <list-prod></list-prod> -->
<!-- <stud-comp></stud-comp> -->
<!-- <eventdemo-app></eventdemo-app> -->
<!-- <demotwo-way></demotwo-way> -->
<!-- <Assignment1></Assignment1> -->
<!-- <Assignment2></Assignment2> -->
<!-- <prop-comp></prop-comp> -->
<!-- <parent-comp></parent-comp> -->
<!-- <add-parent></add-parent> -->
<Assignment3></Assignment3>
<!-- <h1 myHighlight>Highlight Me!!!!</h1> -->
<!-- <app-attr-component></app-attr-component> -->
<!-- <app-contact></app-contact> -->
<!-- <app-valid-form></app-valid-form> -->
<!-- <app-model-driven></app-model-driven> -->
<!-- <h1>{{title}}</h1>
<ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="about">About</a></li>
  <li><a routerLink="product">Product</a></li>
  <li><a routerLink="messages">Messages</a></li>
  <li><a routerLink="photos">Photos</a></li>
  <li><a routerLink="form">Form</a></li>
</ul>
<router-outlet></router-outlet>
<br/>  -->
<!-- <hello-service></hello-service> -->
<!-- <nested-service></nested-service> -->
<!-- <app-http></app-http> -->
<!-- <ObserverdemoComp-app></ObserverdemoComp-app> -->
<!-- <observable-1></observable-1> -->
<!-- <practice></practice> -->
<!-- <search-app></search-app> -->
<!-- <app-employees></app-employees> -->
<!-- <app-employee></app-employee>
<app-employee-list></app-employee-list> -->